// Imports will go here to import other component's style. 
// This allows for sharing of global variables.
@import 'bourbon';
@import "~components/hero/hero.scss";
@import "~components/home/home.scss";
@import "~common/button/button.scss";
@import "~common/navbar/navbar.scss";